h1,h2,h3,h4,h5,h6,p {
	font-family: Sans-serif;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

img {
	max-height: 150px;
	width: auto;
}

.campaign-list {
    /*background: #eeeeee;*/
    padding: 10px;
    border-radius: 25px;
}

.campaign-list-head {
    display: flex;
    justify-content: space-between;
}

.campaign-list-new-button {
    background: whitesmoke;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.campaign-list-new-button:hover {
    background: gainsboro;
}

.campaign, .campaign-background {
    background: whitesmoke;
    margin: 5px;
    padding: 1em;
    border-radius: 10px;
}

.campaign:hover {
    background: gainsboro;
}

.campaign h1 {
    font-size: 2em;
    font-weight: bold;
}

.campaign h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.campaign-description {
	color: #424242;
	font-size: 1em;
}

.campaign-details {
	color: #424242;
	font-size: 0.7em;
}

.choice-list {
	flex-direction: column;
	display: inline-flex;
}

.campaign-fields {
	background: gainsboro;
	display: grid;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #f3fcff;
	border-radius: 10px;
}

.campaign-main-fields, .campaign-choices {
	background: whitesmoke;
	display: grid;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #424242;
	border-radius: 10px;
}

.choice {
    display: grid;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #424242;
    border-radius: 10px;
}

.choice:hover {
    background: silver;
}
